@use '../helpers' as *;
@use '../vars' as *;

*,
*:after,
*:before {
  box-sizing: border-box;
}

/*
  Формула расчета шрифтов:
  коэф(x)/100 * width = font-size
  Например, рассмотрим ширину 1440px, для нее стандартный шрифт берем 10(чтобы 1rem был примерно равен 10px)
  x/100 * 1440 = 10
  x = 0.6944444
*/

html {
  --header-height: #{$header-height};
  --container-padding: #{$aside-padding};

  font-size: .6944vw;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + #{rem(24)});

  @include media-mobile {
    --header-height: #{$header-height-mobile};
    --container-padding: #{$aside-padding-mobile};

    font-size: 2.6666vw;
  }
}

body {
  @include typo-h4;

  position: relative;
  background-color: $color-white;
  color: $color-main;
}
