* {
  box-sizing: border-box;
}

/* stylelint-disable */
html,
body,
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
}
/* stylelint-enable */

html {
  height: 100%;
  min-height: 1vw;
}

body {
  min-width: 320px;
  margin: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizelegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea,
.button {
  font-family: inherit;
}

button {
  overflow: visible;
  padding: 0;
  border: none;
  margin: 0;
  backface-visibility: hidden;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

label {
  display: block;
}

input,
textarea {
  display: block;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;

  &::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  &:-webkit-autofill {
    background-clip: text;
  }


  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;

    &::-ms-clear {
      display: none;
    }
  }
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: initial;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}
