@use "functions" as *;
@use "mixins" as *;
@use '../vars' as *;

@mixin typo-h1 {
  font-family: $font-family;
  font-size: rem(32);
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2em;
  line-height: rem(39);
  text-transform: lowercase;

  @include media-mobile {
    font-size: rem(24);
    line-height: rem(29);
  }
}

@mixin typo-h2 {
  font-family: $font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: rem(24);
  text-transform: lowercase;
}

@mixin typo-h3 {
  font-family: $font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: rem(19);
  text-transform: lowercase;
}

@mixin typo-h4 {
  font-family: $font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: rem(17);
  text-transform: lowercase;
}

@mixin typo-promo {
  font-family: $font-family;
  font-size: rem(32);
  font-style: normal;
  font-weight: 400;
  line-height: rem(40);
  text-transform: lowercase;
}

@mixin typo-link {
  font-family: $font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: 400;
  line-height: rem(20);
  text-decoration-line: underline;
  text-transform: lowercase;
}

@mixin typo-button {
  font-family: $font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: 500;
  letter-spacing: .2em;
  line-height: rem(19);
  text-transform: lowercase;
}
